body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Titillium Web', 'Oxygen', sans-serif;
    font-size: 12px;
    color: #424242;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

header, nav, .footer, section, article, div {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*
 *
 * Common
 *
 */

.news__more {
    float: right;
    font-size: .8em;
    color: #333;
    text-decoration: none;
}

/*
 *
 * Header
 *
 */

.header {

    min-height: 56px;
    transition: min-height 0.3s;
}

.header__inner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #6E0E0E;
}

.header__logo {
    height: 72px;
    margin-right: 1em;
    vertical-align: top;
    margin-top: 12px;
}

.header__title {
    color: #ffffff;
    font-weight: 300;
    font-size: 4em;
    margin: 0.5em 0.25em;
    display: inline-block;
    width: 90%;
    text-align: center;
}

/*
 *
 * Main
 *
 */

main {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*
 *
 * content
 *
 */

.hero {
    width: 100%;
    position: relative;
    background: url("../images/kiss_waterfall.jpg") bottom center /cover no-repeat;
    height: 530px;
}

.getting__marriage {
    display: none;
}

.caption {
    box-sizing: border-box;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    color: #fff;
    padding: 1em;
    text-align: center;
    font-size: 1.5em;
}

/*
 *
 * noivos
 *
 */
.about__noivos {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.header__title, .description {
    font-family: "Petit Formal Script";
}

.about__noivos h3, .padrinhos h3, .love h3, .casamento-title {
    font-size: 3em;
    text-align: center;
}

.about__noivos h4 {
    font-size: 2em;
}

.love {
    padding-bottom: 20px;
}

.love, .about__noivos {
    color: #ffffff;
    background-color: #6E0E0E;
}

.love p, .about__noivos p {
    text-align: center;
    font-size: 1.4em;
}

/*
 *
 * Padrinhos
 *
 */
.padrinhos {
    background-color: #E1F5C4;
}

.padrinhos__album {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.padrinhos__album div {
    padding-left: 20px;
    padding-right: 0px;
}

.padrinhos__album p {
    text-align: center;
}

.padrinho_pic {
    width: 150px;
    height: 150px;
    padding-top: 1em;
    background: no-repeat;
    background-size: 100%;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.padrinho_pic:hover {
    -webkit-transform: scale(1.5); /* prefixo para browsers webkit */
    -moz-transform: scale(1.5); /* prefixo para browsers gecko */
    -o-transform: scale(1.5); /* prefixo para opera */
    transform: scale(1.5);
}

/*
*
* Cerimônia
*/
.full__center {
    width: 100%;
    text-align: center;
}

.casamento, .presentes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.casamento__container {
    background-color: #EDE574;
}

.casamento div, .presente {
    padding-left: 30px;
    width: 100%;
}

.casamento img, .presente img {
    width: 150px;
    display: block;
    margin: 0 auto;
}

.lg-only {
    display: none;
}

#casamento__local {
    padding-left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#casamento__local div {
    width: 50%;
}

#casamento__local div img {
    width: 100%;
}

/*.casamento__localizacao{*/
/*border-radius: 50%;*/
/*-webkit-border-radius: 50%;*/
/*-moz-border-radius: 50%;*/
/*box-shadow: 0 0 8px rgba(0, 0, 0, .8);*/
/*-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);*/
/*-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);*/
/*-webkit-transition: 0.5s ease-in-out;*/
/*-moz-transition: 0.5s ease-in-out;*/
/*-o-transition: 0.5s ease-in-out;*/
/*transition: 0.5s ease-in-out;*/

/*}*/

/*#mask {*/
/*overflow: hidden;*/
/*border-radius: 50%;*/
/*position: relative;*/
/*z-index: 99;*/
/*height: 100%;*/
/*width: 100%;*/
/*}*/

/*#mask iframe {*/
/*position: absolute;*/
/*border-radius: 50%;*/
/*top: 0; left: 0;*/
/*z-index: 50;*/
/*}*/

/*
 *
 * Lojas
 *
 */
.presentes__logo {
    height: 60px;
    width: 60px;
}

.lojas {
    width: 100%;
    height: 100%;
    display: block;
}

.footer {
    background-color: #E5FCC2;
    border-top: 1px solid #E0E0E0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.footer ul {
    margin: 0 auto;
    text-align: center;
}

.footer li {
    display: inline-block;
    margin: 0 6px;
}

.footer a {
    text-decoration: none;
    color: #333;
    text-align: center;
}

.ig-b- {
    display: inline-block;
}

.ig-b- img {
    visibility: hidden;
}

.ig-b-:hover {
    background-position: 0 -60px;
}

.ig-b-:active {
    background-position: 0 -120px;
}

.icons {
    width: 48px;
    height: 48px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.inbox {
    background: url("../images/inbox.png") no-repeat scroll 0 0 / 48px auto rgba(0, 0, 0, 0);
}

.maps {
    height: 52px;
    background: url("../images/Google_Maps_Icon.png") no-repeat scroll 0 0 / 48px auto rgba(0, 0, 0, 0);
}
.presenca{
    background: url("../images/presence.png") no-repeat scroll 0 0 / 48px auto rgba(0, 0, 0, 0);
    border-radius: 6px;
}

.inbox:hover, .maps:hover, .presenca:hover {
    background-position: 0 0;
    transform: rotate(20deg);
}

.ig-b-48 {
    width: 48px;
    height: 48px;
    background: url(//badges.instagram.com/static/images/ig-badge-sprite-48.png) no-repeat 0 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .ig-b-48 {
        background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-48@2x.png);
        background-size: 60px 178px;
    }
}

@media screen and (min-width: 710px) {
    .padrinhos__album div {
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .about__noivos h4 {
        font-size: 1.6em;
    }

    .about {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .about__noivos {
        width: 50%;
    }

    .about__noivos p, .about__noivos h4 {
        margin: 1em;
    }

    .about__noivos p {
        text-align: inherit;
    }

    .noivo, .noivo h3 {
        text-align: right;
    }

    .noivo h3 {
        margin-right: 16px;
    }

    .noiva, .noiva h3 {
        text-align: left;
    }

    .noiva h3 {
        margin-left: 16px;
    }

    .getting__marriage {
        display: inline-block;
    }

    .casamento div, .presente {
        width: 33%;
    }

    .header__title {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

}

@media screen and (min-width: 800px) {
    .hero {
        width: inherit;
        position: inherit;
        height: inherit;
        background: url("../images/kiss_waterfall_HD.jpg") center center /cover no-repeat;
    }

    .about__noivos h4 {
        font-size: 2em;
    }

    .lg-only {
        display: inline-block;
    }

    /* full width/height container */
    #slides-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    /* double the height/width of a viewport */
    #slides {
        width: 200%;
        height: 200%;
        position: fixed;
        top: 0;
        left: 0;
    }

    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 50%;
    }

    #slide-1 {
        /*background: url('../img/bcg_slide-1.jpg') no-repeat center center;*/
        /*background-size: cover;*/
    }

    #slide-2 {
        /*background: url('../img/bcg_slide-2.jpg') no-repeat center center;*/
        background-size: cover;
        -webkit-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
        transform: translate(0, 100%);
    }

    #slide-3 {
        /*background: url('../img/bcg_slide-3.jpg') no-repeat center center;*/
        background-size: cover;
        -webkit-transform: translate(0, 200%);
        -ms-transform: translate(0, 200%);
        transform: translate(0, 200%);
    }

    #slide-3 .caption {
        left: 5%;
        right: auto;
        color: #47373f;
    }

    #slide-4 {
        background-size: cover;
        -webkit-transform: translate(0, 300%);
        -ms-transform: translate(0, 300%);
        transform: translate(0, 300%);
    }

    #slide-4 .caption {
        right: auto;
        left: 5%;
        top: 5%;
        bottom: auto;
        color: #47373f;
    }

    #slide-5 {
        background-size: cover;
        -webkit-transform: translate(0, 400%);
        -ms-transform: translate(0, 400%);
        transform: translate(0, 400%);
    }

    #helper {
        position: absolute;
        left: 0;
        top: 0;
        height: 600%;
        width: 0;
    }

    .marker {
        height: 20%;
        width: 100%;
    }

    .red {
        background-color: red;
    }

    .green {
        background-color: green;
    }

    .blue {
        background-color: blue;
    }

    .yellow {
        background-color: yellow;
    }
}

@media screen and (min-width: 620px) and (max-width: 696px) {
    .padrinhos__album div {
        padding-left: 50px;
    }

}

video {
    position: fixed;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

#contato {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 1.2rem;
    font-weight: 100;
    padding: 2rem;
    margin: 2rem;
    width: 100%;
}
#contato div{
    width: 50%;
    float: right;
}