body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Titillium Web', 'Oxygen', sans-serif;
    font-size: 12px;
    color: #424242;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

header, nav, .footer, section, article, div {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*
 *
 * Main
 *
 */

main {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*
 *
 * content
 *
 */

.hero {
    width: 100%;
    position: relative;
    background: url("../images/kiss_waterfall.jpg") bottom center /cover no-repeat;
    height: 530px;
}

.getting__marriage {
    display: none;
}

.caption {
    box-sizing: border-box;
    background-color: #000;
    background-color: rgba(0, 10, 10, 0.47);
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    color: #fff;
    padding: 1em;
    text-align: center;
    font-size: 1.5em;
}

/*
 *
 * noivos
 *
 */
.about__noivos {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.about__noivos h3, .padrinhos h3, .love h3, .casamento-title {
    font-size: 3em;
    text-align: center;
}

.about__noivos h4 {
    font-size: 2em;
}

.love {
    padding-bottom: 20px;
    width: 100%;
}

.love, .about__noivos {
    color: #ffffff;
    background-color: #6E0E0E;
}

.love p, .about__noivos p {
    text-align: center;
    font-size: 1.4em;
    line-height: 1.2em;
}

/*
 *
 * Padrinhos
 *
 */
.padrinhos {
    background-color: #E1F5C4;
}

.padrinhos__album {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.padrinhos__album div {
    padding-left: 6%;
    padding-right: 0;
}

.padrinhos__album p {
    text-align: center;
}

.padrinho_pic {
    background-size: cover;
    width: 150px;
    height: 150px;
    padding-top: 1em;
    background: no-repeat;
    background-size: 100%;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.padrinho_pic:hover {
    -webkit-transform: scale(1.1); /* prefixo para browsers webkit */
    -moz-transform: scale(1.1); /* prefixo para browsers gecko */
    -o-transform: scale(1.1); /* prefixo para opera */
    transform: scale(1.1);
}

/*
*
* Cerimônia
*/
.full__center {
    width: 100%;
    text-align: center;
}

.casamento h4, .presentes h4 {
    font-size: 18px;
}

.presente {
    height: 150px;
}

.casamento, .presentes {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.casamento {
    margin: 2em 1em 1em;
}

.casamento__container {
    background-color: #EDE574;
}

.casamento div, .presente {
    padding-left: 30px;
    width: 100%;
}

.casamento img, .presente img {
    width: 150px;
    display: block;
    margin: 0 auto;
}

.lg-only {
    display: none;
}

.cerimonia__descricao {
    font-size: 13px;
}

/*
 *
 * Lojas
 *
 */
.lojas {
    width: 100%;
    height: 100%;
    display: block;
}

.footer {
    background-color: #E5FCC2;
    border-top: 1px solid #E0E0E0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    /*height: 100vh;*/
}

.footer ul {
    margin: 0 auto;
    text-align: center;
}

.footer li {
    display: inline-block;
    margin: 0 1%;
}

.footer a {
    text-decoration: none;
    color: #333;
    text-align: center;
}

.ig-b- {
    display: inline-block;
}

.ig-b-:hover {
    background-position: 0 -60px;
}

.ig-b-:active {
    background-position: 0 -120px;
}

.icons {
    width: 48px;
    height: 48px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.inbox {
    background: url("../images/inbox.png") no-repeat scroll 0 0 / 48px auto rgba(0, 0, 0, 0);
}

.maps {
    height: 52px;
    background: url("../images/Google_Maps_Icon.png") no-repeat scroll 0 0 / 48px auto rgba(0, 0, 0, 0);
}

.presenca {
    background: url("../images/presenceboth.png") no-repeat scroll 0 0 / 48px auto rgba(0, 0, 0, 0);
    border-radius: 6px;
}

.inbox:hover, .maps:hover, .presenca:hover {
    background-position: 0 0;
    /*transform: rotate(20deg);*/
}

.presenca:hover {
    background-position: 0 -48px;
}

.ig-b-48 {
    width: 48px;
    height: 48px;
    background: url(//badges.instagram.com/static/images/ig-badge-sprite-48.png) no-repeat 0 0;
}

.hi-icon-effect-8 .hi-icon {
    /*background: rgba(255,255,255,0.1);*/
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
}

.hi-icon-effect-8 .hi-icon:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.hi-icon-effect-8 .hi-icon:hover {
    /*background: rgba(255,255,255,0.05);*/
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    color: #fff;
}

.hi-icon-effect-8 .hi-icon:hover:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
}

.tokstok {
    background: url('../images/TOKSTOK.png') no-repeat 50% center;
}

.ponto-frio {
    background: url('../images/pontofrio.png') no-repeat 50% center;
}

.mgluiza {
    background: url('../images/mgluiza.jpg') no-repeat 50% center;
}

/* Flexible iFrame */

.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#confirmacao {
    text-align: center;
    font-size: 130%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .ig-b-48 {
        background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-48@2x.png);
        background-size: 60px 178px;
    }
}

@media screen and (min-width: 710px) {
    .padrinhos__album div {
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .about__noivos h4 {
        font-size: 1.6em;
    }

    .about {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
    }

    .about__noivos {
        width: 50%;
    }

    .about__noivos p, .about__noivos h4 {
        margin: 1em;
    }

    .about__noivos p {
        text-align: inherit;
    }

    .noivo, .noivo h3 {
        text-align: right;
    }

    .noivo h3 {
        margin-right: 16px;
    }

    .noiva, .noiva h3 {
        text-align: left;
    }

    .noiva h3 {
        margin-left: 16px;
    }

    .getting__marriage {
        display: inline-block;
    }

    .casamento div, .presente {
        width: 33%;
    }
}

@media screen and (max-width: 800px) {
    .mb-only {
        margin-top: -15px;
    }

    video {
        display: none;
    }

    .casamento div, .presente {
        padding-left: 6px;
    }

    .presentes {
        /*display: none;*/
    }

    .cerimonia__descricao {
        font-size: 16px;
    }

    #contato {
        width: 100%;
    }
}

@media screen and (min-width: 620px) and (max-width: 696px) {
    .padrinhos__album div {
        padding-left: 50px;
    }

}

@media screen and (max-width: 380px) {
    .casamento__container {
        overflow-x: hidden;
    }
}

@media screen and (max-height: 530px) and (min-width: 700px) {
    .padrinhos__album div {
        padding-left: 45px;
        padding-right: 45px;
    }

    .padrinho_pic {
        width: 100px;
        height: 100px;
        border-radius: 55px;
    }

    .padrinho .description {
        white-space: nowrap;
        width: 100px;
    }

    .love, .about__noivos {
        font-size: 10px;
    }

    .about__noivos p, .about__noivos h4 {
        margin: 0.5em;
    }

    .mgluiza {
        background-position: 50% bottom;
    }

    .presente {
        height: 57px;
    }

    .description__lista__presente {
        margin-bottom: 0;
        margin-top: 5px;
    }

    .casamento img {
        width: 100px;
    }

}